{
	local_certs
}

clearance-dev.teritorio.xyz {
	@backend path /api/* /users/* /up
	handle @backend {
		reverse_proxy https://164.132.128.58 {
			header_up Host clearance-dev.teritorio.xyz
			transport http {
				tls_server_name clearance-dev.teritorio.xyz
			}
		}
	}
	handle {
		reverse_proxy localhost:3000
	}
}
