clearance-dev.teritorio.xyz {
	tls /certs/cert.pem /certs/key.pem

	@backend path /api/* /users/* /up
	handle @backend {
		reverse_proxy https://clearance-dev.teritorio.xyz {
			transport http {
				tls_server_name clearance-dev.teritorio.xyz
			}
		}
	}
	handle {
		reverse_proxy frontend:3000
	}
}
