version: '3'

services:
  frontend:
    build:
      context: .
    environment:
      - API=${API}
      - NUXT_PUBLIC_SENTRY_DSN=${SENTRY_DSN}
      - NUXT_PUBLIC_SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
    ports:
      - ${FRONTEND_PORT:-3000}:3000
    restart: unless-stopped
